USE [master]
GO
/****** Object:  Database [VISIONSDBL1]    Script Date: 30/07/2026 5:44:43 p. m. ******/
CREATE DATABASE [VISIONSDBL1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VISIONSDBL1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VISIONSDBL1.mdf' , SIZE = 11264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VISIONSDBL1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VISIONSDBL1_1.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VISIONSDBL1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VISIONSDBL1]
GO
/****** Object:  Table [dbo].[AGOTADOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGOTADOS](
	[NOMBRE] [nvarchar](255) NULL,
	[CENTROCOSTO] [smallint] NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[MARCA] [nvarchar](10) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVAVALOR] [smallint] NULL,
	[EXISTENCIAS] [numeric](18, 2) NULL,
	[EXISTENCIASMINIMAS] [numeric](18, 0) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[EXISTENCIASUND] [numeric](18, 0) NULL,
	[EXISTENCIASCJS] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AÑO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AÑO](
	[AÑO] [nvarchar](50) NULL,
	[CAJA] [numeric](18, 0) NULL,
	[ENTRADAS] [numeric](18, 0) NULL,
	[SALIDAS] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTOMOTRIZAPLICACION]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOMOTRIZAPLICACION](
	[REFERENCIA] [nvarchar](50) NOT NULL,
	[MARCA] [nvarchar](50) NOT NULL,
	[APLICACION] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTOMOTRIZMARCA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOMOTRIZMARCA](
	[CODIGO] [nvarchar](50) NOT NULL,
	[MARCA] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTOMOTRIZVALOR]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOMOTRIZVALOR](
	[NUMERO] [int] NULL,
	[LETRA] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANCOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANCOS](
	[CODIGOBANCO] [numeric](18, 0) NOT NULL,
	[BANCO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BODEGA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODEGA](
	[BODEGA] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[PUC] [char](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAJA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NOT NULL,
	[NRODOC] [nvarchar](30) NOT NULL,
	[TIPDOC] [nvarchar](20) NOT NULL,
	[TIPOMOV] [nvarchar](30) NOT NULL,
	[FECDOC] [date] NULL,
	[EFECTIVO] [numeric](18, 2) NULL,
	[CREDITO] [numeric](18, 2) NULL,
	[CHEQUE] [numeric](18, 2) NULL,
	[TARJETA] [numeric](18, 2) NULL,
	[OTROS] [numeric](18, 2) NULL,
	[OTROSNOMBRE] [nvarchar](max) NULL,
	[CONCEPTO] [ntext] NULL,
	[BENEFICIARIO] [nvarchar](max) NULL,
	[AUXILIAR] [nvarchar](max) NULL,
	[TIPO] [nvarchar](20) NULL,
	[DESCUENTO] [numeric](18, 2) NULL,
	[PAGACON] [numeric](18, 0) NULL,
	[CAMBIO] [numeric](18, 0) NULL,
	[PESO] [numeric](18, 2) NULL,
	[OBSERVACIONES] [ntext] NULL,
	[FECHASISTEMA] [date] NULL,
	[HORASISTEMA] [nvarchar](50) NULL,
	[TERMINAL] [nvarchar](20) NULL,
	[USUARIO] [nvarchar](max) NULL,
	[ANULADO] [nvarchar](1) NULL,
	[ANULADOCONCEPTO] [nvarchar](50) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL,
	[TX] [int] NULL,
	[CONVENIO] [nvarchar](50) NULL,
	[CARGUE] [nvarchar](1) NULL,
	[VENCE] [date] NULL,
	[CONSECUTIVODCTO] [numeric](18, 0) NULL,
	[DCTOVTACONTADO] [decimal](18, 2) NULL,
	[EsElectronica] [bit] NULL,
	[EsElectronicaOk] [bit] NULL,
	[EsElectronicaCorreo] [bit] NULL,
 CONSTRAINT [PK_CAJA] PRIMARY KEY CLUSTERED 
(
	[NIT] ASC,
	[NRODOC] ASC,
	[TIPDOC] ASC,
	[TIPOMOV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAJA_]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA_](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NOT NULL,
	[TIPDOC] [nvarchar](20) NOT NULL,
	[TIPOMOV] [nvarchar](30) NULL,
	[FECDOC] [date] NULL,
	[EFECTIVO] [numeric](18, 2) NULL,
	[CREDITO] [numeric](18, 2) NULL,
	[CHEQUE] [numeric](18, 2) NULL,
	[TARJETA] [numeric](18, 2) NULL,
	[OTROS] [numeric](18, 2) NULL,
	[OTROSNOMBRE] [nvarchar](max) NULL,
	[CONCEPTO] [ntext] NULL,
	[BENEFICIARIO] [nvarchar](max) NULL,
	[AUXILIAR] [nvarchar](max) NULL,
	[TIPO] [nvarchar](20) NULL,
	[DESCUENTO] [numeric](18, 2) NULL,
	[PAGACON] [numeric](18, 0) NULL,
	[CAMBIO] [numeric](18, 0) NULL,
	[PESO] [numeric](18, 2) NULL,
	[OBSERVACIONES] [ntext] NULL,
	[FECHASISTEMA] [date] NULL,
	[HORASISTEMA] [nvarchar](50) NULL,
	[TERMINAL] [nvarchar](20) NULL,
	[USUARIO] [nvarchar](max) NULL,
	[ANULADO] [nvarchar](1) NULL,
	[ANULADOCONCEPTO] [nvarchar](50) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL,
	[TX] [int] NULL,
	[CONVENIO] [nvarchar](50) NULL,
	[CARGUE] [nvarchar](1) NULL,
	[VENCE] [date] NULL,
	[CONSECUTIVODCTO] [numeric](18, 0) NULL,
	[DCTOVTACONTADO] [numeric](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAJA_CLOUD]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA_CLOUD](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NOT NULL,
	[TIPDOC] [nvarchar](20) NOT NULL,
	[TIPOMOV] [nvarchar](30) NULL,
	[FECDOC] [date] NULL,
	[EFECTIVO] [numeric](18, 2) NULL,
	[CREDITO] [numeric](18, 2) NULL,
	[CHEQUE] [numeric](18, 2) NULL,
	[TARJETA] [numeric](18, 2) NULL,
	[OTROS] [numeric](18, 2) NULL,
	[OTROSNOMBRE] [nvarchar](max) NULL,
	[CONCEPTO] [ntext] NULL,
	[BENEFICIARIO] [nvarchar](max) NULL,
	[AUXILIAR] [nvarchar](max) NULL,
	[TIPO] [nvarchar](20) NULL,
	[DESCUENTO] [numeric](18, 2) NULL,
	[PAGACON] [numeric](18, 0) NULL,
	[CAMBIO] [numeric](18, 0) NULL,
	[PESO] [numeric](18, 2) NULL,
	[OBSERVACIONES] [ntext] NULL,
	[FECHASISTEMA] [date] NULL,
	[HORASISTEMA] [nvarchar](50) NULL,
	[TERMINAL] [nvarchar](20) NULL,
	[USUARIO] [nvarchar](max) NULL,
	[ANULADO] [nvarchar](1) NULL,
	[ANULADOCONCEPTO] [nvarchar](50) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL,
	[TX] [int] NULL,
	[CONVENIO] [nvarchar](50) NULL,
	[CARGUE] [nvarchar](1) NULL,
	[VENCE] [date] NULL,
	[CONSECUTIVODCTO] [numeric](18, 0) NULL,
	[DCTOVTACONTADO] [decimal](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAJA_PAGOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA_PAGOS](
	[ID_] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NRODOC] [nvarchar](25) NULL,
	[TIPDOC] [nvarchar](25) NULL,
	[FECDOC] [date] NULL,
	[CODIGO] [nvarchar](3) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[VALOR] [numeric](18, 0) NULL,
	[AUXILIAR] [nvarchar](255) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAJAESTADO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJAESTADO](
	[CAJA] [int] NULL,
	[USUARIO] [nvarchar](50) NULL,
	[ESTADO] [nvarchar](50) NULL,
	[FECHA] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAPTURAEX]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAPTURAEX](
	[REFERENCIA] [nvarchar](255) NULL,
	[CANTIDADES] [numeric](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CENTROSDECOSTO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CENTROSDECOSTO](
	[CODIGO] [numeric](18, 0) NULL,
	[DETALLE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHEQUES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHEQUES](
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[FECDOC] [date] NULL,
	[VALOR] [numeric](18, 2) NULL,
	[BANCO] [nvarchar](50) NULL,
	[CUENTA] [nvarchar](50) NULL,
	[TX] [int] NULL,
	[CAJA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHEQUES_]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHEQUES_](
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[FECDOC] [date] NULL,
	[VALOR] [numeric](18, 0) NULL,
	[BANCO] [nvarchar](50) NULL,
	[CUENTA] [nvarchar](50) NULL,
	[TX] [int] NULL,
	[CAJA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHEQUES_CLOUD]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHEQUES_CLOUD](
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[FECDOC] [date] NULL,
	[VALOR] [numeric](18, 0) NULL,
	[BANCO] [nvarchar](50) NULL,
	[CUENTA] [nvarchar](50) NULL,
	[TX] [int] NULL,
	[CAJA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIERRES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIERRES](
	[CENTROCOSTO] [smallint] NULL,
	[FECHA] [date] NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[PPUBLICO] [numeric](18, 0) NULL,
	[EXISTENCIAS] [numeric](18, 0) NULL,
	[FRACCIONES] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIIU]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIIU](
	[AGRUPACION] [nvarchar](50) NULL,
	[ACTIVIDAD] [nvarchar](50) NULL,
	[CODIGO] [numeric](18, 0) NOT NULL,
	[DETALLE] [nvarchar](255) NULL,
	[TARIFA] [numeric](18, 2) NULL,
	[TARIFA1] [numeric](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBO](
	[CODIGO] [numeric](18, 0) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[VALOR] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IMPRIMEDETALLE] [numeric](18, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOPRECIOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOPRECIOS](
	[PRECIO] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](50) NULL,
	[COMBO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMBOTABLAS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMBOTABLAS](
	[CODIGO] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[FRACCIONES] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[PPUBLICO] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPROMISOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPROMISOS](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[FECHACOMPROMISO1] [date] NULL,
	[FECHACOMPROMISO2] [date] NULL,
	[COMPROMISO] [nvarchar](max) NULL,
	[SALDO] [numeric](18, 2) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[TIPO] [nvarchar](10) NULL,
	[USUARIO] [nvarchar](max) NULL,
	[MARCA] [smallint] NULL,
	[TX] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPROMISOSCONCEPTO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPROMISOSCONCEPTO](
	[COMPROMISOSCONCEPTO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONEXION]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONEXION](
	[ID] [numeric](18, 0) NOT NULL,
	[CONEXION] [nvarchar](255) NULL,
	[RUTA] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTABILIDAD]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTABILIDAD](
	[CUENTA] [nvarchar](30) NOT NULL,
	[DETALLE] [nvarchar](100) NULL,
	[LLAVE] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTABILIDADASIENTOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTABILIDADASIENTOS](
	[CUENTA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](100) NULL,
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[TIPOMOV] [nvarchar](10) NULL,
	[FECDOC] [date] NULL,
	[DEBITO] [numeric](18, 0) NULL,
	[CREDITO] [numeric](18, 0) NULL,
	[DETALLEC] [nvarchar](255) NULL,
	[AUXILIAR] [nvarchar](50) NULL,
	[USUARIO] [nvarchar](max) NULL,
	[FECHASISTEMA] [date] NULL,
	[CAJA] [int] NULL,
	[TX] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTABILIDADPUC]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTABILIDADPUC](
	[CUENTA] [nvarchar](30) NOT NULL,
	[DENOMINACION] [nvarchar](255) NULL,
	[TIPOCTA] [char](1) NULL,
	[DC] [char](1) NULL,
	[IDVALOR] [smallint] NULL,
	[CTASEC] [nvarchar](30) NULL,
	[AGRUPA] [nvarchar](30) NULL,
	[PROCEDE] [nvarchar](30) NULL,
	[AUXILIAR] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTABILIDADRC]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTABILIDADRC](
	[CUENTA] [nvarchar](30) NOT NULL,
	[DETALLE] [nvarchar](100) NULL,
	[LLAVE] [nvarchar](30) NULL,
	[DEBITO] [numeric](18, 0) NULL,
	[CREDITO] [numeric](18, 0) NULL,
	[DETALLEC] [nvarchar](100) NULL,
	[AUXILAIR] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTROL]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROL](
	[Id_] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[FINI] [date] NULL,
	[FFIN] [date] NULL,
	[TOPEI] [numeric](18, 0) NULL,
	[TOPEF] [numeric](18, 0) NULL,
	[BASENETO] [nvarchar](1) NULL,
	[CANTMIN] [int] NULL,
	[CANTMAX] [int] NULL,
	[CAMBIOIVA] [nvarchar](50) NULL,
	[CANTBONOS] [int] NULL,
	[DCTO] [int] NULL,
	[DCTOVALOR] [numeric](18, 0) NULL,
	[MARCACOD] [nvarchar](50) NULL,
	[GRUPOCOD] [nvarchar](50) NULL,
	[TODOS] [int] NULL,
	[DCTO23] [int] NULL,
	[DCTOVALOR23] [numeric](18, 0) NULL,
	[TEXTO] [ntext] NULL,
	[TIQUETE] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTROLREF]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROLREF](
	[Id_] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_ID_] [numeric](18, 0) NULL,
	[BASENETO] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONVENIOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVENIOS](
	[NIT] [nvarchar](25) NOT NULL,
	[NOMBRES] [nvarchar](50) NULL,
	[APELLIDOS] [nvarchar](50) NULL,
	[DESCUENTO] [numeric](18, 0) NULL,
	[CUPO] [numeric](18, 0) NULL,
	[PERIODO] [nvarchar](10) NULL,
	[ESTADO] [nvarchar](255) NULL,
	[VENCE] [date] NULL,
	[SALDO] [numeric](18, 0) NULL,
	[CONVENIO] [nvarchar](50) NULL,
	[PORCENTAJE] [int] NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
	[TX] [smallint] NULL,
	[VALOR] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Convenios_Nombre]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Convenios_Nombre](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Convenios_Nuevo]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Convenios_Nuevo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nrodoc] [nvarchar](50) NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[Descuento] [numeric](18, 0) NULL,
	[Cupo] [numeric](18, 0) NULL,
	[Periodo] [nvarchar](50) NULL,
	[Estado] [int] NULL,
	[Vence] [date] NULL,
	[Saldo] [numeric](18, 0) NULL,
	[Id_Convenio] [int] NULL,
	[Porcentaje] [int] NULL,
	[Ciudad] [nvarchar](50) NULL,
	[Departamento] [nvarchar](50) NULL,
	[TX] [int] NULL,
	[Valor] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONVENIOSDATA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVENIOSDATA](
	[CUPOA] [numeric](18, 0) NULL,
	[DESCUENTOA] [numeric](18, 0) NULL,
	[SALDOA] [numeric](18, 0) NULL,
	[CUPOB] [numeric](18, 0) NULL,
	[DESCUENTOB] [numeric](18, 0) NULL,
	[SALDOB] [numeric](18, 0) NULL,
	[CONVENIO] [nvarchar](50) NULL,
	[PORCENTAJE] [numeric](18, 0) NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COTIZACION]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COTIZACION](
	[CENTROCOSTO] [smallint] NULL,
	[CODIGO] [numeric](18, 0) NULL,
	[FECHA] [date] NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DESCRIPCION] [ntext] NULL,
	[PPUBLICO] [numeric](18, 0) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[FRACCIONES] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[TIPOVALOR] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COTIZACIONNOMBRE]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COTIZACIONNOMBRE](
	[CODIGO] [numeric](18, 0) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[PPUBLICO] [numeric](18, 0) NULL,
	[UTILIDAD] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA_ESPERA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA_ESPERA](
	[ID] [int] NOT NULL,
	[CRITERIO] [nvarchar](50) NULL,
	[ACTIVO] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Denominacion]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Denominacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Valor] [int] NULL,
	[Tipo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESCUENTOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESCUENTOS](
	[TIPO] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
	[VALOR] [numeric](18, 2) NULL,
	[CUENTA] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAN]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAN](
	[IDCONSEC] [numeric](18, 0) NOT NULL,
	[ID1] [nvarchar](3) NULL,
	[FolioInterno] [nvarchar](20) NULL,
	[Fecha] [date] NULL,
	[TipoDeComprobante] [nvarchar](2) NULL,
	[Moneda] [nvarchar](3) NULL,
	[Subtotal] [numeric](18, 2) NULL,
	[Monto] [numeric](18, 2) NULL,
	[Descuento] [numeric](18, 2) NULL,
	[formaDePago] [nvarchar](14) NULL,
	[Serie] [nvarchar](4) NULL,
	[FolioFiscal] [numeric](18, 0) NULL,
	[condicionesDePago] [nvarchar](50) NULL,
	[referencia1] [nvarchar](50) NULL,
	[ID2] [nvarchar](3) NULL,
	[Cliente] [nvarchar](20) NULL,
	[Tipo] [nvarchar](1) NULL,
	[NIT] [nvarchar](10) NULL,
	[RazonSocial] [nvarchar](150) NULL,
	[Regimen] [nvarchar](150) NULL,
	[IdentificacionID] [nvarchar](2) NULL,
	[ID3] [nvarchar](3) NULL,
	[Calle] [nvarchar](150) NULL,
	[Departamento] [nvarchar](50) NULL,
	[Municipio] [nvarchar](50) NULL,
	[Ciudad] [nvarchar](150) NULL,
	[Pais] [nvarchar](3) NULL,
	[ID4] [nvarchar](3) NULL,
	[TotalRetencion] [numeric](18, 2) NULL,
	[TotalImpuesto] [numeric](18, 2) NULL,
	[ID5] [nvarchar](3) NULL,
	[BaseImpuesto] [numeric](18, 2) NULL,
	[MontoImpuesto] [numeric](18, 2) NULL,
	[PorcentajeImpuesto] [numeric](18, 0) NULL,
	[Impuesto] [nvarchar](50) NULL,
	[IdentificacionImpuesto] [nvarchar](50) NULL,
	[EA1] [nvarchar](3) NULL,
	[TipoCambio] [numeric](18, 2) NULL,
	[MontoLetra] [nvarchar](254) NULL,
	[EOB] [nvarchar](3) NULL,
	[Observaciones] [ntext] NULL,
	[EA5] [nvarchar](3) NULL,
	[Consecutivo] [int] NULL,
	[Nota] [nvarchar](254) NULL,
	[EA6] [nvarchar](3) NULL,
	[Consecutivo1] [int] NULL,
	[Nota1] [nvarchar](254) NULL,
	[EA9] [nvarchar](3) NULL,
	[IndicadorCD] [nvarchar](5) NULL,
	[CodigoCD] [nvarchar](10) NULL,
	[RazonCD] [nvarchar](50) NULL,
	[PorcentajeCD] [numeric](18, 2) NULL,
	[ImporteCD] [numeric](18, 2) NULL,
	[EDT] [nvarchar](3) NULL,
	[DeliveryID] [nvarchar](10) NULL,
	[SpecialTerms] [nvarchar](20) NULL,
	[Incoterm] [nvarchar](10) NULL,
	[IncoDescripcion] [nvarchar](50) NULL,
	[EDR] [nvarchar](3) NULL,
	[DRReferenceID] [nvarchar](10) NULL,
	[DRCode] [nvarchar](50) NULL,
	[EIR] [nvarchar](3) NULL,
	[ReferenceNumber] [nvarchar](20) NULL,
	[ReferenceUUID] [nvarchar](50) NULL,
	[ReferenceDate] [date] NULL,
	[EBC] [nvarchar](3) NULL,
	[Tipo1] [nvarchar](1) NULL,
	[Name] [nvarchar](100) NULL,
	[Telephone] [nvarchar](20) NULL,
	[Mail] [nvarchar](100) NULL,
	[codigo] [nvarchar](50) NULL,
	[EP1] [nvarchar](3) NULL,
	[Consecutivo2] [numeric](18, 0) NULL,
	[FechaPago] [date] NULL,
	[Monto2] [numeric](18, 2) NULL,
	[DiasVencimiento] [numeric](18, 0) NULL,
	[C06] [nvarchar](3) NULL,
	[avisoRecibo] [nvarchar](50) NULL,
	[D01] [nchar](10) NULL,
	[Consecutivo3] [numeric](18, 0) NULL,
	[Cantidad] [numeric](18, 2) NULL,
	[Importe] [numeric](18, 2) NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Producto] [nvarchar](20) NULL,
	[Precio] [numeric](18, 2) NULL,
	[SKU] [numeric](18, 2) NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[RefUUID] [nvarchar](50) NULL,
	[Descuento2] [numeric](18, 2) NULL,
	[DOB] [nvarchar](3) NULL,
	[Comentarios] [nvarchar](254) NULL,
	[DAD] [nvarchar](3) NULL,
	[OrdenCompra] [nchar](254) NULL,
	[FechaOrdenCompra] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domiciliario]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domiciliario](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[CC] [nvarchar](11) NULL,
	[Nombre] [nvarchar](350) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Id_Domiciliario] [int] NULL,
	[NRODOC] [nvarchar](30) NULL,
	[Id_Usuario_Domicilio] [int] NULL,
	[Observacion] [ntext] NULL,
	[TOTAL] [numeric](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domilicio_Usuarios]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domilicio_Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Nombre] [nvarchar](350) NULL,
	[Direccion] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DPTO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DPTO](
	[CODIGO] [nvarchar](3) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[CENTROCOSTO] [smallint] NOT NULL,
	[NIT] [nvarchar](25) NULL,
	[NOMBRE] [nvarchar](max) NULL,
	[SLOGAN] [nvarchar](max) NULL,
	[DIRECCION] [nvarchar](max) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[DPTO] [nvarchar](50) NULL,
	[REGIMEN] [nvarchar](25) NULL,
	[PROMEDIO] [nvarchar](15) NULL,
	[PROPIETARIO] [nvarchar](max) NULL,
	[FACTURA] [numeric](18, 0) NULL,
	[REMISION] [numeric](18, 0) NULL,
	[INGRESOS] [numeric](18, 0) NULL,
	[EGRESOS] [numeric](18, 0) NULL,
	[SEPARADO] [numeric](18, 0) NULL,
	[ORDENTRABAJO] [numeric](18, 0) NULL,
	[DEVOLUCION] [numeric](18, 0) NULL,
	[ORDENCOMPRA] [numeric](18, 0) NULL,
	[COTIZACION] [numeric](18, 0) NULL,
	[NOTACONTABILIDAD] [numeric](18, 0) NULL,
	[CUADRE] [numeric](18, 0) NULL,
	[PREFIJO] [nvarchar](10) NULL,
	[IMPUESTOS] [nvarchar](max) NULL,
	[PREFIJO1] [nvarchar](10) NULL,
	[IMPUESTOS1] [nvarchar](max) NULL,
	[MENSAJES] [ntext] NULL,
	[FACTURACONTADOIMPUESTOS] [smallint] NULL,
	[FACTURACREDITOIMPUESTOS] [smallint] NULL,
	[PUC] [nvarchar](30) NULL,
	[FACTURACREDITO] [numeric](18, 0) NULL,
	[RETEFUENTE] [numeric](18, 0) NULL,
	[IMPUESTOS1VENCE] [date] NULL,
	[IMPUESTOS2VENCE1] [date] NULL,
	[IMPUESTOS1ULTIMO] [numeric](18, 0) NULL,
	[IMPUESTOS2ULTIMO] [numeric](18, 0) NULL,
	[FACTURACONTINGENCIA] [numeric](18, 0) NULL,
	[CONTINGENCIAPREFIJO] [nvarchar](50) NULL,
	[CONTINGENCIARESOLTEXTO] [ntext] NULL,
	[CONTINGENCIARESOLUCION] [nvarchar](50) NULL,
	[CONTINGENCIAVENCE] [date] NULL,
	[CONTINGENCIAULTIMO] [numeric](18, 0) NULL,
	[RESOLUCIONCONTADO] [nvarchar](50) NULL,
	[RESOLUCIONCREDITO] [nvarchar](50) NULL,
	[NOTADEBITO] [numeric](18, 0) NULL,
	[PEDIDO] [numeric](18, 0) NULL,
	[ORDENSERVICIO] [numeric](18, 0) NULL,
	[ENTREGA] [numeric](18, 0) NULL,
	[EMAIL] [nvarchar](150) NOT NULL,
	[LEYENDA_ELECTRONICA] [ntext] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Etiquetas]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etiquetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Formato] [nvarchar](50) NULL,
	[Layout] [ntext] NULL,
	[Estado] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOS](
	[TIPO] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](300) NULL,
	[FINI] [date] NULL,
	[FFIN] [date] NULL,
	[VALOR] [numeric](18, 0) NULL,
	[CODIGO] [nvarchar](50) NULL,
	[CODIGON] [nvarchar](50) NULL,
	[TOPEI] [numeric](18, 2) NULL,
	[TOPEF] [numeric](18, 2) NULL,
	[Id] [int] NOT NULL,
	[CODIGOAUX] [nvarchar](10) NULL,
	[CODIGONBR] [nvarchar](255) NULL,
	[TEXTO] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FE_PAIS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FE_PAIS](
	[NOMBRE] [nvarchar](255) NULL,
	[CODIGO1] [nvarchar](4) NULL,
	[CODIGO2] [nvarchar](4) NULL,
	[CODIGO3] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FE_RESPONSABILIDADES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FE_RESPONSABILIDADES](
	[CODIGO] [nvarchar](100) NULL,
	[DETALLE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FE_TIPOID]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FE_TIPOID](
	[CODIGO] [nvarchar](2) NOT NULL,
	[DETALLE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FECHAS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FECHAS](
	[CAJA] [nvarchar](10) NULL,
	[FECHA] [date] NULL,
	[USUARIO] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPODANE]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPODANE](
	[CODIGO] [nvarchar](3) NULL,
	[GRUPO] [nvarchar](100) NULL,
	[DETALLE] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPOMAYOR]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOMAYOR](
	[CODIGO] [nvarchar](10) NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[NOTACONTABILIDAD] [numeric](18, 0) NULL,
 CONSTRAINT [PK_GRUPOMAYOR] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPOMENOR]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPOMENOR](
	[CODIGO] [nvarchar](10) NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[GRUPOMAYOR] [nvarchar](10) NOT NULL,
	[NOTACONTABILIDAD] [numeric](18, 0) NULL,
	[CODIGODANE] [nvarchar](50) NULL,
 CONSTRAINT [PK_GRUPOMENOR] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[GRUPOMAYOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoMenorConTarjetas]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoMenorConTarjetas](
	[GRUPOMENOR] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPORESTAURANTE]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPORESTAURANTE](
	[CODIGO] [nvarchar](50) NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
	[ORDEN] [int] NULL,
	[CODIGOGRUPOMENOR] [nvarchar](50) NOT NULL,
	[IMPRESORA] [nvarchar](50) NULL,
 CONSTRAINT [PK_GRUPORESTAURANTE] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC,
	[TIPO] ASC,
	[CODIGOGRUPOMENOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPORESTAURANTE_IMPRESORA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPORESTAURANTE_IMPRESORA](
	[IMPRESORA] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GRUPORESTAURANTE_IMPRESORA] PRIMARY KEY CLUSTERED 
(
	[IMPRESORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPORESTAURANTE_MODIFICA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPORESTAURANTE_MODIFICA](
	[PUESTO] [decimal](18, 0) NULL,
	[TURNO] [int] NULL,
	[REFERENCIA] [nvarchar](50) NULL,
	[DETALLE] [nvarchar](50) NULL,
	[CANTIDAD] [decimal](18, 0) NULL,
	[UNITARIO] [nchar](10) NULL,
	[TOTAL] [nchar](10) NULL,
	[NIT] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[TIPOMODIF] [int] NULL,
	[CANTIDADNUEVA] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPORESTAURANTE_PEDIDO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPORESTAURANTE_PEDIDO](
	[PUESTO] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[TURNO] [int] NULL,
	[DESTINO] [nvarchar](50) NULL,
	[REFERENCIA] [nvarchar](50) NULL,
	[DETALLE] [nvarchar](50) NULL,
	[CANTIDAD] [decimal](18, 0) NULL,
	[UNITARIO] [nchar](10) NULL,
	[TOTAL] [nchar](10) NULL,
	[NOTA] [ntext] NULL,
	[NIT] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[EQUIPO] [int] NULL,
	[ESTADO] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPORESTAURANTE_PEDIDO_TEMPORAL]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPORESTAURANTE_PEDIDO_TEMPORAL](
	[PUESTO] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[REFERENCIA] [nvarchar](50) NULL,
	[DETALLE] [nvarchar](50) NULL,
	[CANTIDAD] [decimal](18, 0) NULL,
	[UNITARIO] [nchar](10) NULL,
	[TOTAL] [nchar](10) NULL,
	[NOTA] [ntext] NULL,
	[EQUIPO] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPORESTAURANTEPUESTO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPORESTAURANTEPUESTO](
	[PUESTO] [numeric](18, 2) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[IdInventario] [int] NULL,
	[Fecha] [datetime] NULL,
	[Codigo] [nvarchar](50) NULL,
	[Detalle] [nvarchar](150) NULL,
	[Cantidad] [int] NULL,
	[ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVIMA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVIMA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Ingreso] [date] NULL,
	[Producto_Codigo] [nvarchar](50) NULL,
	[Producto_Nombre] [nvarchar](255) NULL,
	[Lote] [nvarchar](50) NULL,
	[Registro] [nvarchar](50) NULL,
	[Fabricante] [nvarchar](200) NULL,
	[Fecha_Fabricacion] [date] NULL,
	[Fecha_Vencimiento] [date] NULL,
	[Proveedor_Nit] [nvarchar](20) NULL,
	[Proveedor_Nombre] [nvarchar](200) NULL,
	[Cantidad] [numeric](18, 2) NULL,
	[Numero_Documento] [nvarchar](20) NULL,
	[Fecha_Sistema] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVIMA_Productos]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVIMA_Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Producto_Codigo] [nvarchar](50) NULL,
	[Poducto_Nombre] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IVA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IVA](
	[IVA] [int] NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
	[CUENTA] [nvarchar](50) NULL,
	[BASE] [nvarchar](50) NULL,
	[COSTO] [nvarchar](50) NULL,
	[INVENTARIO] [nvarchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICENCIA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICENCIA](
	[NIT] [nvarchar](50) NULL,
	[USER_PC] [nvarchar](50) NULL,
	[PC] [nvarchar](50) NULL,
	[ID_PC] [nvarchar](50) NULL,
	[LLAVE] [nvarchar](100) NULL,
	[VENCE] [nvarchar](10) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManifiestosGoogleDrive]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManifiestosGoogleDrive](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[idFile] [nvarchar](50) NULL,
	[nameFile] [nvarchar](max) NULL,
	[url] [nvarchar](max) NULL,
	[date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[CODIGO] [nvarchar](10) NOT NULL,
	[MARCA] [nvarchar](255) NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarcasConTarjetas]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarcasConTarjetas](
	[MARCA] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediosPago]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediosPago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedioPago] [nvarchar](100) NULL,
	[Estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESA](
	[CODIGO] [nvarchar](10) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[TERCERO] [nvarchar](20) NULL,
	[ESTADO] [nvarchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVDESCUENTOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVDESCUENTOS](
	[NIT] [nvarchar](25) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[TIPTRANSAC] [nvarchar](20) NULL,
	[NRODOC] [nchar](30) NULL,
	[FECDOC] [date] NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
	[PORCENTAJE] [numeric](18, 2) NULL,
	[VALOR] [numeric](18, 2) NULL,
	[CUENTA] [nvarchar](30) NULL,
	[TX] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVDETALLEE]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVDETALLEE](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[COSTOCOMPRA] [numeric](18, 0) NULL,
	[SUBTOTAL] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[COSTOTARJETA] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 0) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[TX] [int] NULL,
	[TIPDOC] [nvarchar](50) NULL,
	[FECDOC] [date] NULL,
	[IVADESCRIPCION] [nvarchar](255) NULL,
	[ORDEN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVDETALLEE_CLOUD]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVDETALLEE_CLOUD](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[COSTOCOMPRA] [numeric](18, 0) NULL,
	[SUBTOTAL] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[COSTOTARJETA] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 0) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[TX] [int] NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[FECDOC] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVDETALLES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVDETALLES](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[FECDOC] [date] NULL,
	[ORDEN] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADF] [numeric](18, 2) NULL,
	[CANTIDADCAJA] [numeric](18, 2) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 2) NULL,
	[SUBTOTAL] [numeric](18, 2) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[MARCA] [nvarchar](255) NULL,
	[PESO] [numeric](18, 0) NULL,
	[UNICOSTO] [numeric](18, 2) NULL,
	[UNIIVA] [numeric](18, 2) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL,
	[TX] [int] NULL,
	[GRUPOMENOR] [nvarchar](10) NULL,
	[FECHASISTEMA] [date] NULL,
	[HORASISTEMA] [nvarchar](50) NULL,
	[USUARIO] [nvarchar](255) NULL,
	[CLIENTE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVDETALLES_]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVDETALLES_](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[FECDOC] [date] NULL,
	[ORDEN] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADF] [numeric](18, 2) NULL,
	[CANTIDADCAJA] [numeric](18, 2) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 2) NULL,
	[SUBTOTAL] [numeric](18, 2) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[MARCA] [nvarchar](255) NULL,
	[PESO] [numeric](18, 0) NULL,
	[UNICOSTO] [numeric](18, 2) NULL,
	[UNIIVA] [numeric](18, 2) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL,
	[TX] [int] NULL,
	[GRUPOMENOR] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVDETALLES_CLOUD]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVDETALLES_CLOUD](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[FECDOC] [date] NULL,
	[ORDEN] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADF] [numeric](18, 2) NULL,
	[CANTIDADCAJA] [numeric](18, 2) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 2) NULL,
	[SUBTOTAL] [numeric](18, 2) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[MARCA] [nvarchar](255) NULL,
	[PESO] [numeric](18, 0) NULL,
	[UNICOSTO] [numeric](18, 2) NULL,
	[UNIIVA] [numeric](18, 2) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL,
	[TX] [int] NULL,
	[GRUPOMENOR] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVDETALLESREPORTES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVDETALLESREPORTES](
	[CENTROCOSTO] [smallint] NULL,
	[NIT] [nvarchar](25) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[FECDOC] [date] NULL,
	[ORDEN] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADF] [numeric](18, 0) NULL,
	[CANTIDADCAJA] [numeric](18, 0) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 0) NULL,
	[SUBTOTAL] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[MARCA] [nvarchar](255) NULL,
	[PESO] [numeric](18, 0) NULL,
	[UNICOSTO] [numeric](18, 0) NULL,
	[UNIIVA] [numeric](18, 0) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[CAJA] [int] NULL,
	[VENDEDOR] [nvarchar](25) NULL,
	[TX] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUNICIPIO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIO](
	[CODIGO] [nvarchar](3) NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[CODIGO1] [nvarchar](3) NOT NULL,
	[NOMBRE1] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEXO_ConfiguracionSync]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEXO_ConfiguracionSync](
	[CENTROCOSTO] [smallint] NOT NULL,
	[Activo] [bit] NOT NULL,
	[TiposDocumentoVenta] [nvarchar](100) NULL,
	[UltimaFechaExportada] [datetime] NULL,
	[UltimaHoraExportada] [nvarchar](20) NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CENTROCOSTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEXO_EntradasInventario]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEXO_EntradasInventario](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEventoOrigen] [bigint] NOT NULL,
	[CENTROCOSTO] [smallint] NOT NULL,
	[REFERENCIA] [nvarchar](30) NOT NULL,
	[CANTIDAD] [numeric](18, 2) NOT NULL,
	[COSTO] [numeric](18, 2) NULL,
	[FechaRecepcion] [datetime] NOT NULL,
	[Aplicado] [bit] NOT NULL,
	[FechaAplicado] [datetime] NULL,
	[Error] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NEXO_EntradasInventario_Origen] UNIQUE NONCLUSTERED 
(
	[IdEventoOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEXO_VentasExportadas]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEXO_VentasExportadas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CENTROCOSTO] [smallint] NOT NULL,
	[TIPDOC] [nvarchar](20) NOT NULL,
	[NRODOC] [nvarchar](30) NOT NULL,
	[ORDEN] [numeric](18, 0) NOT NULL,
	[REFERENCIA] [nvarchar](30) NOT NULL,
	[CANTIDAD] [numeric](18, 2) NOT NULL,
	[FechaExportado] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NEXO_VentaLinea] UNIQUE NONCLUSTERED 
(
	[CENTROCOSTO] ASC,
	[TIPDOC] ASC,
	[NRODOC] ASC,
	[ORDEN] ASC,
	[REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENCOMPRA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENCOMPRA](
	[CENTROCOSTO] [smallint] NULL,
	[ORDENCOMPRA] [numeric](18, 0) NULL,
	[PROVEEDOR] [nvarchar](25) NULL,
	[FECHA1] [date] NULL,
	[FECHA2] [date] NULL,
	[USUARIO] [nvarchar](max) NULL,
	[NOTAS] [ntext] NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[NRODOC] [nvarchar](30) NOT NULL,
	[TX] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENCOMPRADETALLE]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENCOMPRADETALLE](
	[ORDENCOMPRA] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[VALOR] [numeric](18, 0) NULL,
	[IVA] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[TX] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENSEPARADO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENSEPARADO](
	[SEPARADO] [numeric](18, 0) NULL,
	[NIT] [nvarchar](25) NOT NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[PLAZO] [smallint] NULL,
	[PLAZOTIPO] [nvarchar](10) NULL,
	[FECHAENTREGA] [date] NULL,
	[OBSERVACIONES] [ntext] NULL,
	[USUARIO] [nvarchar](max) NULL,
	[TX] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENTRABAJO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENTRABAJO](
	[ORDENTRABAJO] [numeric](18, 0) NULL,
	[NIT] [nvarchar](25) NOT NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[FECHAENTREGA] [date] NULL,
	[OBSERVACIONES] [ntext] NULL,
	[ARTICULO] [nvarchar](max) NULL,
	[MARCA] [nvarchar](max) NULL,
	[COLOR] [nvarchar](max) NULL,
	[MODELO] [nvarchar](max) NULL,
	[SERIE] [nvarchar](max) NULL,
	[USUARIO] [nvarchar](max) NULL,
	[TX] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETROS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETROS](
	[CONSECUTIVO] [smallint] NOT NULL,
	[PARAMETRO] [nvarchar](10) NULL,
	[VALOR] [nvarchar](50) NULL,
	[DESCRIPCION] [nvarchar](250) NULL,
	[TIPOGRUPO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESENTACION]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESENTACION](
	[CODIGO] [nvarchar](10) NOT NULL,
	[PRESENTACION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PRESENTACION] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFERENCIAS_RELACIONADAS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFERENCIAS_RELACIONADAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Referencia] [nvarchar](50) NULL,
	[Descripcion] [ntext] NULL,
	[Tipo] [nvarchar](20) NULL,
	[Llave] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remision_Peluqueria]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remision_Peluqueria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Nrodoc] [nvarchar](10) NULL,
	[Total] [numeric](18, 0) NULL,
	[Vendedor_cc] [nvarchar](15) NULL,
	[Vendedor_Nombre] [nvarchar](250) NULL,
	[Factura] [nvarchar](10) NULL,
	[Id_Servicio] [nvarchar](20) NULL,
	[Servicio] [nvarchar](250) NULL,
	[Caja] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETE1]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETE1](
	[ID_] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[ORDEN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETE2]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETE2](
	[ID_] [int] NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[VALOR] [numeric](18, 2) NULL,
	[CUENTA] [nvarchar](30) NULL,
	[IDTABLA] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETE3]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETE3](
	[ID_] [int] NOT NULL,
	[NIT] [nvarchar](25) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETENCIONES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETENCIONES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Cliente] [nvarchar](15) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Porcentaje] [numeric](18, 3) NULL,
	[Base] [numeric](18, 3) NULL,
	[Retencion] [numeric](18, 3) NULL,
	[NroDoc] [nvarchar](30) NULL,
	[TipDoc] [nvarchar](100) NULL,
	[TipRet] [int] NULL,
	[TipMov] [nvarchar](15) NULL,
	[CAJA] [int] NULL,
	[CUENTA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETENCIONES_]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETENCIONES_](
	[Id] [int] NOT NULL,
	[Id_Cliente] [nvarchar](15) NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Porcentaje] [numeric](18, 2) NULL,
	[Base] [numeric](18, 2) NULL,
	[Retencion] [numeric](18, 2) NULL,
	[NroDoc] [nvarchar](30) NULL,
	[TipDoc] [nvarchar](100) NULL,
	[TipRet] [int] NULL,
	[TipMov] [nvarchar](15) NULL,
	[CAJA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RETENCIONESCERTIFICADO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RETENCIONESCERTIFICADO](
	[CERTIFICADO] [numeric](18, 0) NULL,
	[NIT] [nvarchar](25) NULL,
	[NRODOC] [nvarchar](30) NULL,
	[TIPDOC] [nvarchar](20) NULL,
	[FECDOC] [date] NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[SUBTOTAL] [numeric](18, 0) NULL,
	[CONCEPTO] [nvarchar](255) NULL,
	[BASE] [numeric](18, 0) NULL,
	[BASEPESOS] [numeric](18, 0) NULL,
	[TARIFA] [numeric](18, 2) NULL,
	[NOMBRETERCERO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGURIDAD]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGURIDAD](
	[CODIGO] [nvarchar](50) NOT NULL,
	[CLAVE] [nvarchar](50) NOT NULL,
	[PERFIL] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGURIDADFORMULARIO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGURIDADFORMULARIO](
	[FORMULARIO] [nvarchar](255) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGURIDADPERFIL]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGURIDADPERFIL](
	[PERFIL] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGURIDADPERFILFORMULARIO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGURIDADPERFILFORMULARIO](
	[PERFIL] [nvarchar](50) NOT NULL,
	[FORMULARIO] [nvarchar](255) NOT NULL,
	[DESCRIPCION] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios_Vendedor]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios_Vendedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Vendedor] [nvarchar](20) NULL,
	[Nom_Vendedor] [nvarchar](150) NULL,
	[Id_Servicio] [nvarchar](50) NULL,
	[Nom_Servicio] [nvarchar](350) NULL,
	[Comision] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSALES](
	[NIT] [nvarchar](25) NULL,
	[CENTRODECOSTO] [nvarchar](50) NULL,
	[EMPRESA] [nvarchar](50) NULL,
	[TELEFONOVIVE] [nvarchar](50) NULL,
	[DIRECCIONVIVE] [nvarchar](200) NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[CIUDADCODIGO] [nvarchar](5) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
	[DEPARTAMENTOCODIGO] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [nvarchar](128) NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA](
	[CENTROCOSTO] [smallint] NOT NULL,
	[REFERENCIA] [nvarchar](30) NOT NULL,
	[DETALLE] [nvarchar](255) NULL,
	[MARCA] [nvarchar](10) NULL,
	[COSTO] [numeric](18, 2) NULL,
	[GRUPOMENOR] [nvarchar](10) NULL,
	[BARRAS] [nvarchar](30) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVAVALOR] [smallint] NULL,
	[EXISTENCIAS] [numeric](18, 2) NULL,
	[EXISTENCIASMINIMAS] [numeric](18, 0) NULL,
	[FRACCIONES] [numeric](18, 0) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[PRESENTACION] [nvarchar](10) NULL,
	[VALORIZADO] [numeric](18, 0) NULL,
	[PPUBLICO] [numeric](18, 0) NULL,
	[PBODEGA] [numeric](18, 0) NULL,
	[PCREDITO] [numeric](18, 0) NULL,
	[UPUBLICO] [numeric](18, 2) NULL,
	[UBODEGA] [numeric](18, 2) NULL,
	[UCREDITO] [numeric](18, 2) NULL,
	[FRACCIONA] [nvarchar](2) NULL,
	[VF1] [numeric](18, 0) NULL,
	[VV1] [numeric](18, 0) NULL,
	[VF2] [numeric](18, 0) NULL,
	[VV2] [numeric](18, 0) NULL,
	[VF3] [numeric](18, 0) NULL,
	[VV3] [numeric](18, 0) NULL,
	[VF4] [numeric](18, 2) NULL,
	[VV4] [numeric](18, 0) NULL,
	[TIPOTARJETA] [nvarchar](12) NULL,
	[ROTA1] [numeric](18, 0) NULL,
	[ROTA2] [numeric](18, 0) NULL,
	[SUGERIDO] [numeric](18, 0) NULL,
	[FISICOE] [numeric](18, 0) NULL,
	[FISICOF] [numeric](18, 0) NULL,
	[COMBO] [numeric](18, 0) NULL,
	[FULTV] [date] NULL,
	[FULTC] [date] NULL,
	[REVISAR] [smallint] NULL,
	[NOTA] [ntext] NULL,
	[PESO] [numeric](18, 2) NULL,
	[DFI] [date] NULL,
	[DFF] [date] NULL,
	[DPO] [smallint] NULL,
	[DVA] [numeric](18, 0) NULL,
	[PESAR] [nvarchar](2) NULL,
	[MARGEN1] [numeric](18, 2) NULL,
	[MARGEN2] [numeric](18, 2) NULL,
	[MARGEN3] [numeric](18, 2) NULL,
	[PUC] [nvarchar](30) NULL,
	[BODEGA] [nvarchar](10) NULL,
	[UBICA] [smallint] NULL,
	[UBICA1] [nvarchar](50) NULL,
	[UBICA2] [nvarchar](50) NULL,
	[UBICA3] [nvarchar](50) NULL,
	[UBICA4] [nvarchar](50) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[INTERNO] [numeric](18, 0) NULL,
	[INVENTA] [numeric](18, 0) NULL,
	[ADVIERTE] [numeric](18, 0) NULL,
 CONSTRAINT [PK_TARJETA] PRIMARY KEY CLUSTERED 
(
	[CENTROCOSTO] ASC,
	[REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA_MENSAJE_VENTA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA_MENSAJE_VENTA](
	[REFERENCIA] [nvarchar](50) NOT NULL,
	[MENSAJE] [ntext] NULL,
	[INT] [nvarchar](50) NULL,
 CONSTRAINT [PK_TARJETA_MENSAJE_VENTA] PRIMARY KEY CLUSTERED 
(
	[REFERENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETACREDITO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETACREDITO](
	[CONSECUTIVO] [numeric](18, 0) NULL,
	[VALOR] [numeric](18, 2) NULL,
	[TIPO] [nvarchar](50) NULL,
	[CAJA] [int] NULL,
	[USUARIO] [nvarchar](255) NULL,
	[T_PROPIA] [int] NULL,
	[T_NUMERO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETAHISTORICO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETAHISTORICO](
	[CENTROCOSTO] [smallint] NULL,
	[REFERENCIA] [nvarchar](50) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[MARCA] [nvarchar](50) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVAVALOR] [smallint] NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[PPUBLICO] [numeric](18, 0) NULL,
	[PBODEGA] [numeric](18, 0) NULL,
	[PCREDITO] [numeric](18, 0) NULL,
	[USUARIO] [nvarchar](255) NULL,
	[FECHA] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETALIQUIDA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETALIQUIDA](
	[CENTROCOSTO] [smallint] NOT NULL,
	[REFERENCIA] [nvarchar](30) NOT NULL,
	[DETALLE] [nvarchar](255) NULL,
	[MARCA] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETAPREPARA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETAPREPARA](
	[REFERENCIAP] [nvarchar](50) NOT NULL,
	[REFERENCIAS] [nvarchar](50) NOT NULL,
	[DETALLES] [nvarchar](255) NULL,
	[CANTIDADSD] [numeric](18, 2) NULL,
 CONSTRAINT [PK_TARJETAPREPARA] PRIMARY KEY CLUSTERED 
(
	[REFERENCIAP] ASC,
	[REFERENCIAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetasPropias]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetasPropias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Numero] [nvarchar](50) NULL,
	[Valor] [numeric](18, 0) NULL,
	[Estado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetasPropiasVendidas]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetasPropiasVendidas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[NumeroTarjeta] [nvarchar](50) NULL,
	[Empresa] [nvarchar](50) NULL,
	[Factura] [nvarchar](10) NULL,
	[Usuario] [nvarchar](250) NULL,
	[Estado] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETAWEB]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETAWEB](
	[CENTROCOSTO] [smallint] NOT NULL,
	[REFERENCIA] [nvarchar](30) NOT NULL,
	[DETALLE] [nvarchar](255) NULL,
	[MARCA] [nvarchar](10) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[GRUPOMENOR] [nvarchar](10) NULL,
	[BARRAS] [nvarchar](30) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVAVALOR] [smallint] NULL,
	[EXISTENCIAS] [numeric](18, 2) NULL,
	[EXISTENCIASMINIMAS] [numeric](18, 0) NULL,
	[FRACCIONES] [numeric](18, 0) NULL,
	[CANTIDAD] [numeric](18, 0) NULL,
	[PRESENTACION] [nvarchar](10) NULL,
	[VALORIZADO] [numeric](18, 0) NULL,
	[PPUBLICO] [numeric](18, 0) NULL,
	[PBODEGA] [numeric](18, 0) NULL,
	[PCREDITO] [numeric](18, 0) NULL,
	[UPUBLICO] [numeric](18, 2) NULL,
	[UBODEGA] [numeric](18, 2) NULL,
	[UCREDITO] [numeric](18, 2) NULL,
	[FRACCIONA] [nvarchar](2) NULL,
	[VF1] [numeric](18, 0) NULL,
	[VV1] [numeric](18, 0) NULL,
	[VF2] [numeric](18, 0) NULL,
	[VV2] [numeric](18, 0) NULL,
	[VF3] [numeric](18, 0) NULL,
	[VV3] [numeric](18, 0) NULL,
	[VF4] [numeric](18, 0) NULL,
	[VV4] [numeric](18, 0) NULL,
	[TIPOTARJETA] [nvarchar](12) NULL,
	[ROTA1] [numeric](18, 0) NULL,
	[ROTA2] [numeric](18, 0) NULL,
	[SUGERIDO] [numeric](18, 0) NULL,
	[FISICOE] [numeric](18, 0) NULL,
	[FISICOF] [numeric](18, 0) NULL,
	[COMBO] [numeric](18, 0) NULL,
	[FULTV] [date] NULL,
	[FULTC] [date] NULL,
	[REVISAR] [smallint] NULL,
	[NOTA] [ntext] NULL,
	[PESO] [numeric](18, 2) NULL,
	[DFI] [date] NULL,
	[DFF] [date] NULL,
	[DPO] [smallint] NULL,
	[DVA] [numeric](18, 0) NULL,
	[PESAR] [nvarchar](2) NULL,
	[MARGEN1] [numeric](18, 2) NULL,
	[MARGEN2] [numeric](18, 2) NULL,
	[MARGEN3] [numeric](18, 2) NULL,
	[PUC] [nvarchar](30) NULL,
	[BODEGA] [nvarchar](10) NULL,
	[UBICA] [smallint] NULL,
	[UBICA1] [nvarchar](50) NULL,
	[UBICA2] [nvarchar](50) NULL,
	[UBICA3] [nvarchar](50) NULL,
	[UBICA4] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_MEDIOS_DE_PAGO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_MEDIOS_DE_PAGO](
	[CODIGO] [nvarchar](3) NULL,
	[DETALLE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_RESPONSABILIDADES_FISCALES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_RESPONSABILIDADES_FISCALES](
	[CODIGO] [int] NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[CODIGODIAN] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPODOCUMENTO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPODOCUMENTO](
	[CODIGO] [nvarchar](2) NULL,
	[DETALLE] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOMOVIMIENTOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOMOVIMIENTOS](
	[CODIGO] [nvarchar](3) NULL,
	[DETALLE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMP_CAJA_PAGOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMP_CAJA_PAGOS](
	[ID_] [numeric](18, 0) NULL,
	[CODIGO] [nvarchar](3) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[VALOR] [numeric](18, 0) NULL,
	[CAJA] [int] NULL,
	[USUARIO] [nvarchar](50) NULL,
	[AUXILIAR] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPCHEQUES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPCHEQUES](
	[VALOR] [numeric](18, 2) NULL,
	[BANCO] [nvarchar](50) NULL,
	[CUENTA] [nvarchar](50) NULL,
	[CAJA] [int] NULL,
	[USUARIO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPCOMPRAS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPCOMPRAS](
	[ORDEN] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADF] [numeric](18, 0) NULL,
	[CANTIDADCAJA] [numeric](18, 0) NULL,
	[PRECIO] [numeric](18, 2) NULL,
	[COSTO] [numeric](18, 2) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 2) NULL,
	[SUBTOTAL] [numeric](18, 2) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[MARCA] [nvarchar](50) NULL,
	[PESO] [numeric](18, 2) NULL,
	[UNICOSTO] [numeric](18, 0) NULL,
	[UNIIVA] [numeric](18, 0) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[BORRAR] [nvarchar](2) NULL,
	[GRUPOMENOR] [nvarchar](255) NULL,
	[CAJA] [int] NULL,
	[COMBO] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPDESCUENTOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPDESCUENTOS](
	[DESCRIPCION] [nvarchar](50) NULL,
	[PORCENTAJE] [numeric](18, 2) NULL,
	[VALOR] [numeric](18, 2) NULL,
	[CUENTA] [nvarchar](30) NULL,
	[CAJA] [int] NULL,
	[TIPO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPMOVIMIENTO]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPMOVIMIENTO](
	[TIPDOC] [nvarchar](20) NULL,
	[FECDOC] [date] NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADCAJA] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[CANTIDAD1] [numeric](18, 2) NULL,
	[CANTIDADCAJA1] [numeric](18, 0) NULL,
	[COSTO1] [numeric](18, 0) NULL,
	[NRODOC] [nvarchar](max) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPREPORTES]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPREPORTES](
	[CAMPO01] [nvarchar](50) NULL,
	[CAMPO02] [nvarchar](50) NULL,
	[CAMPO03] [nvarchar](50) NULL,
	[CAMPO04] [nvarchar](50) NULL,
	[CAMPO05] [nvarchar](50) NULL,
	[CAMPO06] [nvarchar](255) NULL,
	[CAMPO07] [nvarchar](255) NULL,
	[CAMPO08] [nvarchar](255) NULL,
	[CAMPO09] [nvarchar](255) NULL,
	[CAMPO10] [nvarchar](255) NULL,
	[VALOR01] [numeric](18, 0) NULL,
	[VALOR02] [numeric](18, 0) NULL,
	[VALOR03] [numeric](18, 0) NULL,
	[VALOR04] [numeric](18, 0) NULL,
	[VALOR05] [numeric](18, 0) NULL,
	[VALOR06] [numeric](18, 2) NULL,
	[VALOR07] [numeric](18, 2) NULL,
	[VALOR08] [numeric](18, 2) NULL,
	[VALOR09] [numeric](18, 2) NULL,
	[VALOR10] [numeric](18, 2) NULL,
	[FECHA1] [date] NULL,
	[FECHA2] [date] NULL,
	[FECHA3] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPVENTAS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPVENTAS](
	[ORDEN] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADF] [numeric](18, 2) NULL,
	[CANTIDADCAJA] [numeric](18, 2) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 2) NULL,
	[SUBTOTAL] [numeric](18, 2) NULL,
	[TOTAL] [numeric](18, 2) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[MARCA] [nvarchar](50) NULL,
	[PESO] [numeric](18, 2) NULL,
	[UNICOSTO] [numeric](18, 2) NULL,
	[UNIIVA] [numeric](18, 2) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[BORRAR] [nvarchar](2) NULL,
	[GRUPOMENOR] [nvarchar](255) NULL,
	[CAJA] [int] NULL,
	[COMBO] [numeric](18, 0) NULL,
	[USUARIO] [nvarchar](50) NULL,
	[VENDEDOR] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMPVENTASENESPERA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMPVENTASENESPERA](
	[ORDEN] [numeric](18, 0) NULL,
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADF] [numeric](18, 0) NULL,
	[CANTIDADCAJA] [numeric](18, 0) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVASINO] [nvarchar](2) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVAVALOR] [numeric](18, 0) NULL,
	[IVASUMA] [numeric](18, 0) NULL,
	[SUBTOTAL] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[DCTO] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[MARCA] [nvarchar](50) NULL,
	[PESO] [numeric](18, 2) NULL,
	[UNICOSTO] [numeric](18, 0) NULL,
	[UNIIVA] [numeric](18, 0) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[BORRAR] [nvarchar](2) NULL,
	[GRUPOMENOR] [nvarchar](255) NULL,
	[CAJA] [int] NULL,
	[COMBO] [numeric](18, 0) NULL,
	[Id_Cuenta_Espera] [int] NULL,
	[USUARIO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TX]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TX](
	[TX] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICA1]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICA1](
	[UBICA] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICA2]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICA2](
	[UBICA] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICA3]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICA3](
	[UBICA] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[NIT] [nvarchar](25) NOT NULL,
	[NITVERIFICA] [char](1) NULL,
	[TIPOID] [nvarchar](50) NULL,
	[NOMBRE1] [nvarchar](255) NULL,
	[NOMBRE2] [nvarchar](255) NULL,
	[APELLIDO1] [nvarchar](255) NULL,
	[APELLIDO2] [nvarchar](255) NULL,
	[DIRECCIONVIVE] [nvarchar](255) NULL,
	[TELEFONOVIVE] [nvarchar](255) NULL,
	[ZONA] [nvarchar](50) NULL,
	[CELULAR] [nvarchar](50) NULL,
	[PIN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[EMPRESA] [nvarchar](255) NULL,
	[TELEFONOEMPRESA] [nvarchar](50) NULL,
	[DIRECCIONEMPRESA] [nvarchar](255) NULL,
	[CUMPLEAÑOSDIA] [smallint] NULL,
	[CUMPLEAÑOSMES] [smallint] NULL,
	[CONTABILIDAD] [nvarchar](30) NULL,
	[REGIMEN] [nvarchar](25) NULL,
	[CUPO] [numeric](18, 0) NULL,
	[AUTORETENEDOR] [smallint] NULL,
	[REPRESENTANTE] [nvarchar](255) NULL,
	[CLIENTE] [smallint] NULL,
	[PROVEEDOR] [smallint] NULL,
	[TERCERO] [smallint] NULL,
	[EMPLEADO] [smallint] NULL,
	[VENDEDOR] [smallint] NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[CIUDADCODIGO] [nvarchar](5) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
	[DEPARTAMENTOCODIGO] [nvarchar](5) NULL,
	[PAIS] [nvarchar](50) NULL,
	[PAISCODIGO] [numeric](18, 0) NULL,
	[BANCO] [nvarchar](50) NULL,
	[BANCOCUENTA] [nvarchar](50) NULL,
	[FIDELIZADO] [smallint] NULL,
	[TARJETATIPO] [nvarchar](50) NULL,
	[TARJETAFV] [date] NULL,
	[TARJETACUPO] [numeric](18, 0) NULL,
	[TARJETA] [nvarchar](50) NULL,
	[tx] [int] NULL,
	[CONVENIO] [nvarchar](50) NULL,
	[TIPOTERCERO] [nvarchar](10) NULL,
	[PENALTY] [int] NULL,
	[PUNTOS] [numeric](18, 0) NULL,
	[CIIU] [numeric](18, 0) NULL,
	[CIIUN] [nvarchar](250) NULL,
	[RESPONSABILIDAD_CODIGO] [nvarchar](250) NULL,
	[RESPONSABILIDAD_DETALLE] [nvarchar](250) NULL,
	[RESPONSABILIDAD_IVAC] [nvarchar](250) NULL,
	[RESPONSABILIDAD_IVAD] [nvarchar](250) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS_]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS_](
	[NIT] [nvarchar](25) NOT NULL,
	[NITVERIFICA] [char](1) NULL,
	[TIPOID] [nvarchar](20) NULL,
	[NOMBRE1] [nvarchar](255) NULL,
	[NOMBRE2] [nvarchar](50) NULL,
	[APELLIDO1] [nvarchar](50) NULL,
	[APELLIDO2] [nvarchar](50) NULL,
	[DIRECCIONVIVE] [nvarchar](200) NULL,
	[TELEFONOVIVE] [nvarchar](50) NULL,
	[ZONA] [nvarchar](50) NULL,
	[CELULAR] [nvarchar](50) NULL,
	[PIN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[EMPRESA] [nvarchar](50) NULL,
	[TELEFONOEMPRESA] [nvarchar](50) NULL,
	[DIRECCIONEMPRESA] [nvarchar](50) NULL,
	[CUMPLEAÑOSDIA] [smallint] NULL,
	[CUMPLEAÑOSMES] [smallint] NULL,
	[CONTABILIDAD] [nvarchar](30) NULL,
	[REGIMEN] [nvarchar](25) NULL,
	[CUPO] [numeric](18, 0) NULL,
	[AUTORETENEDOR] [smallint] NULL,
	[REPRESENTANTE] [nvarchar](50) NULL,
	[CLIENTE] [smallint] NULL,
	[PROVEEDOR] [smallint] NULL,
	[TERCERO] [smallint] NULL,
	[EMPLEADO] [smallint] NULL,
	[VENDEDOR] [smallint] NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[CIUDADCODIGO] [nvarchar](5) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
	[DEPARTAMENTOCODIGO] [nvarchar](5) NULL,
	[PAIS] [nvarchar](50) NULL,
	[PAISCODIGO] [numeric](18, 0) NULL,
	[BANCO] [nvarchar](50) NULL,
	[BANCOCUENTA] [nvarchar](50) NULL,
	[FIDELIZADO] [smallint] NULL,
	[TARJETATIPO] [nvarchar](50) NULL,
	[TARJETAFV] [date] NULL,
	[TARJETACUPO] [numeric](18, 0) NULL,
	[TARJETA] [nvarchar](50) NULL,
	[tx] [int] NULL,
	[CONVENIO] [nvarchar](50) NULL,
	[TIPOTERCERO] [nvarchar](10) NULL,
	[PENALTY] [int] NULL,
	[PUNTOS] [numeric](18, 0) NULL,
	[CIIU] [numeric](18, 0) NULL,
	[CIIUN] [nvarchar](250) NULL,
	[RESPONSABILIDAD_CODIGO] [nvarchar](250) NULL,
	[RESPONSABILIDAD_DETALLE] [nvarchar](250) NULL,
	[RESPONSABILIDAD_IVAC] [nvarchar](250) NULL,
	[RESPONSABILIDAD_IVAD] [nvarchar](250) NULL,
 CONSTRAINT [PK_USUARIOS1__1] PRIMARY KEY CLUSTERED 
(
	[NIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILIDAD]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILIDAD](
	[REFERENCIA] [nvarchar](30) NULL,
	[DETALLE] [nvarchar](255) NULL,
	[CANTIDAD] [numeric](18, 2) NULL,
	[CANTIDADCAJA] [numeric](18, 0) NULL,
	[PRECIO] [numeric](18, 0) NULL,
	[COSTO] [numeric](18, 0) NULL,
	[IVADESCRIPCION] [nvarchar](50) NULL,
	[IVASUMA] [numeric](18, 0) NULL,
	[SUBTOTAL] [numeric](18, 0) NULL,
	[TOTAL] [numeric](18, 0) NULL,
	[CANTIDADES] [numeric](18, 0) NULL,
	[TOTALORG] [numeric](18, 0) NULL,
	[TCANTIDAD] [numeric](18, 0) NULL,
	[TCOSTO] [numeric](18, 0) NULL,
	[TUTILIDAD] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDERUTA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDERUTA](
	[CODIGO] [numeric](18, 0) NULL,
	[DETALLE] [nvarchar](50) NULL,
	[ZONA] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEZONA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEZONA](
	[CODIGO] [numeric](18, 0) NULL,
	[DETALLE] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEZONARUTA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEZONARUTA](
	[ZONA] [numeric](18, 0) NULL,
	[RUTA] [numeric](18, 0) NULL,
	[NITV] [nvarchar](50) NULL,
	[NITC] [nvarchar](50) NULL,
	[NRODOC] [numeric](18, 0) NULL,
	[FECHAVISITA] [date] NULL,
	[HORAVISITA] [nvarchar](50) NULL,
	[RESULTADO] [nvarchar](50) NULL,
	[DOCUMENTO] [nvarchar](50) NULL,
	[ORDEN] [numeric](18, 0) NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[CIUDADCODIGO] [nvarchar](50) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
	[DEPARTAMENTOCODIGO] [nvarchar](50) NULL,
	[tx] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 30/07/2026 5:44:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[ZONA] [nchar](10) NULL,
	[DESCRIPCION] [nchar](255) NULL,
	[NIT] [nchar](25) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAJA] ADD  CONSTRAINT [DF_CAJA_EsElectronica]  DEFAULT ((0)) FOR [EsElectronica]
GO
ALTER TABLE [dbo].[CAJA] ADD  CONSTRAINT [DF_CAJA_EsElectronicaOk]  DEFAULT ((0)) FOR [EsElectronicaOk]
GO
ALTER TABLE [dbo].[CAJA] ADD  CONSTRAINT [DF_CAJA_EsElectronicaCorreo]  DEFAULT ((0)) FOR [EsElectronicaCorreo]
GO
ALTER TABLE [dbo].[EMPRESA] ADD  CONSTRAINT [DF_EMPRESA_EMAIL]  DEFAULT (N'email') FOR [EMAIL]
GO
ALTER TABLE [dbo].[EMPRESA] ADD  CONSTRAINT [DF_EMPRESA_LEYENDA_ELECTRONICA]  DEFAULT (N'Recibo y acepto el contenido de la presente factura y certifico haber recibido los productos y servicios a entera satisfacción') FOR [LEYENDA_ELECTRONICA]
GO
ALTER TABLE [dbo].[ManifiestosGoogleDrive] ADD  CONSTRAINT [DF_ManifiestosGoogleDrive_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[NEXO_ConfiguracionSync] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[NEXO_ConfiguracionSync] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[NEXO_EntradasInventario] ADD  DEFAULT (getdate()) FOR [FechaRecepcion]
GO
ALTER TABLE [dbo].[NEXO_EntradasInventario] ADD  DEFAULT ((0)) FOR [Aplicado]
GO
ALTER TABLE [dbo].[NEXO_VentasExportadas] ADD  DEFAULT (getdate()) FOR [FechaExportado]
GO
ALTER TABLE [dbo].[TMPVENTAS] ADD  CONSTRAINT [DF_TMPVENTAS_VENDEDOR]  DEFAULT ((0)) FOR [VENDEDOR]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__NITVERIFICA]  DEFAULT ('') FOR [NITVERIFICA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TIPOID]  DEFAULT ('') FOR [TIPOID]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__NOMBRE1]  DEFAULT ('') FOR [NOMBRE1]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__NOMBRE2]  DEFAULT ('') FOR [NOMBRE2]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__APELLIDO1]  DEFAULT ('') FOR [APELLIDO1]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__APELLIDO2]  DEFAULT ('') FOR [APELLIDO2]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__DIRECCIONVIVE]  DEFAULT ('') FOR [DIRECCIONVIVE]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TELEFONOVIVE]  DEFAULT ('') FOR [TELEFONOVIVE]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__ZONA]  DEFAULT ('') FOR [ZONA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CELULAR]  DEFAULT ('') FOR [CELULAR]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF__USUARIOS_PIN]  DEFAULT ('') FOR [PIN]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__EMAIL]  DEFAULT ('') FOR [EMAIL]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__EMPRESA]  DEFAULT ('') FOR [EMPRESA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TELEFONOEMPRESA]  DEFAULT ('') FOR [TELEFONOEMPRESA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__DIRECCIONEMPRESA]  DEFAULT ('') FOR [DIRECCIONEMPRESA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CUMPLEAÑOSDIA]  DEFAULT ((0)) FOR [CUMPLEAÑOSDIA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CUMPLEAÑOSMES]  DEFAULT ((0)) FOR [CUMPLEAÑOSMES]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CONTABILIDAD]  DEFAULT ('') FOR [CONTABILIDAD]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__REGIMEN]  DEFAULT ('') FOR [REGIMEN]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CUPO]  DEFAULT ((0)) FOR [CUPO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__AUTORETENEDOR]  DEFAULT ((0)) FOR [AUTORETENEDOR]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__REPRESENTANTE]  DEFAULT ('') FOR [REPRESENTANTE]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CLIENTE]  DEFAULT ((0)) FOR [CLIENTE]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__PROVEEDOR]  DEFAULT ((0)) FOR [PROVEEDOR]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TERCERO]  DEFAULT ((0)) FOR [TERCERO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__EMPLEADO]  DEFAULT ((0)) FOR [EMPLEADO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__VENDEDOR]  DEFAULT ((0)) FOR [VENDEDOR]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CIUDAD]  DEFAULT ('') FOR [CIUDAD]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CIUDADCODIGO]  DEFAULT ('') FOR [CIUDADCODIGO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__DEPARTAMENTO]  DEFAULT ('') FOR [DEPARTAMENTO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__DEPARTAMENTOCODIGO]  DEFAULT ('') FOR [DEPARTAMENTOCODIGO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__PAIS]  DEFAULT ('') FOR [PAIS]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__PAISCODIGO]  DEFAULT ((0)) FOR [PAISCODIGO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__BANCO]  DEFAULT ('') FOR [BANCO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__BANCOCUENTA]  DEFAULT ('') FOR [BANCOCUENTA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__FIDELIZADO]  DEFAULT ((0)) FOR [FIDELIZADO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TARJETATIPO]  DEFAULT ('') FOR [TARJETATIPO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TARJETAFV]  DEFAULT (getdate()) FOR [TARJETAFV]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TARJETACUPO]  DEFAULT ((0)) FOR [TARJETACUPO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TARJETA]  DEFAULT ('') FOR [TARJETA]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__tx]  DEFAULT ((0)) FOR [tx]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CONVENIO]  DEFAULT ('') FOR [CONVENIO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__TIPOTERCERO]  DEFAULT ('') FOR [TIPOTERCERO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__PENALTY]  DEFAULT ((0)) FOR [PENALTY]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__PUNTOS]  DEFAULT ((0)) FOR [PUNTOS]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CIIU]  DEFAULT ((0)) FOR [CIIU]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__CIIUN]  DEFAULT ('') FOR [CIIUN]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__RESPONSABILIDAD_CODIGO]  DEFAULT ('') FOR [RESPONSABILIDAD_CODIGO]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__RESPONSABILIDAD_DETALLE]  DEFAULT ('') FOR [RESPONSABILIDAD_DETALLE]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__RESPONSABILIDAD_IVAC]  DEFAULT ('') FOR [RESPONSABILIDAD_IVAC]
GO
ALTER TABLE [dbo].[USUARIOS_] ADD  CONSTRAINT [DF_USUARIOS__RESPONSABILIDAD_IVAD]  DEFAULT ('') FOR [RESPONSABILIDAD_IVAD]
GO
USE [master]
GO
